server:
  port: 8081
spring:
  application:
    name: fraud
  datasource:
    username: 'admin-fraud'
    password: 'password-fraud'
    url: jdbc:postgresql://localhost:5433/fraud
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/fraud